* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

/* styles */
.header, 
.title,
.footer {
    background-color: #1f2937;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
}

.title-text {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.title-subtext, 
.header-links a, 
.footer {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

button,
.call-to-action {
    color: #f9faf8;
    background-color: #3882f6;
    border-radius: 8px;
    border-style: none;
}

.information-header {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.quote {
    background-color: #e5e7eb;
    color: #1f2937;
    font-size: 36px; 
    font-style: italic;
    font-weight: 200;
}

/* alignment */
html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    height: 100%;
    margin: 0px;
}

.header, 
.title,
.information,
.quote,
.call-to-action, 
.footer {
    padding: 0px 128px;
}

/* header */
.header {
    flex: 0 0;
    display: flex;
    align-items: center;
}

.header-logo {
    padding: 12px 0px;
}

.header-links {
    margin-left: auto;
    padding: 12px;
    gap: 32px;
}

.header-links a {
    padding: 0px 12px;
}

/* title */
.title {
    flex: 1 0 auto;
    display: flex;
    align-items: center;
    padding: 32px 128px;
}

.title-content {
    padding-right: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex: 1;
    height: 50%;
    gap: 12px;
}

.title-text {
    flex: 1 1 auto;
}

.title-subtext {
    flex: 1 1 auto;
}

.title-content button {
    flex: 0 0 auto;

}

img {
    width: auto;
    height: 300px;
    flex-shrink: 1;
}

/* information */

.information {
    flex: 1 0 auto;
}

.information-header {
    text-align: center;
}
.quote {
    flex: 1 0 auto;
}

.call-to-action {
    flex: 1 0 auto;
}

.footer {
    flex: 0 0;
}

button {
    padding: 6px 24px;
}