* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

/* styles */
.header, 
.title,
.footer {
    background-color: #1f2937;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
}

.title-text {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.title-subtext, 
.header-links a, 
.footer {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

button,
.call-to-action {
    color: #f9faf8;
    background-color: #3882f6;
    border-radius: 8px;
    border-style: none;
}

.information-header {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.quote {
    background-color: #e5e7eb;
    color: #1f2937;
    font-size: 36px; 
    font-style: italic;
    font-weight: 200;
}

.quote-speaker {
    font-style: normal;
    font-weight: 400;
}

.call-to-action button {
    border-color: #f9faf8;
    border-style: solid;
}

/* alignment */
html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    height: 100%;
    margin: 0px;
    align-content: center;
}

/* header */
.header {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    padding: 24px 0px;
    align-items: center;
    justify-content: space-between;
}

.header-links {
    gap: 32px;
}

.header-links a {
    padding: 0px 12px;
}

/* title */
.title {
    flex: 1 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 32px 24px;
    gap: 48px;
}

.title-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex: 1;
    height: 50%;
    row-gap: 12px;
    max-width: 400px;
}

.title-text {
    flex: 1 1 auto;
}

.title-subtext {
    flex: 1 1 auto;
}

.title-content button {
    flex: 0 0 auto;
}

.title-image {
    flex-shrink: 1;
}

.title-image img {
    width: 400px;
    height: auto;
    border-radius: 8px;
    border-color: #f9faf8;
    border-style: solid;
}

/* information */

.information {
    flex: 1 0 auto;
    padding: 32px 256px;
}

.information-header {
    text-align: center;
}

.pictures-and-captions {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 24px;
}

.pictures-and-captions div {
    flex-shrink: 1;
}

.information img {
    max-width: 150px;
    height: auto;
    border-radius: 8px;
    border: medium solid #3882f6;
    margin: 12px 0px;
}

/* quote */

.quote {
    flex: 1 0 auto;
    padding: 32px 256px;
}

.quote-speaker {
    text-align: right;
}

/* call to action */

.call-to-action {
    flex: 1 0 auto;
    margin: 64px 128px;
    padding: 32px 128px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.call-to-action button {
    flex: 0 0 auto;
    box-sizing: content-box;
}

.footer {
    flex: 1 0;
    text-align: center;
    padding: 24px 0px;
}

button {
    padding: 6px 24px;
    max-height: 24px;
}